################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/Movie_Tes/v15
/.vs
/TankFlanker/.vs/FPS_n2/v15
/TankFlanker/TankFlanker/data/base_movie2.mp4
