################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/Movie_Tes/v15
/.vs
/TankFlanker/.vs/FPS_n2/v15
/TankFlanker/TankFlanker/data/base_movie2.mp4
/JW_movie/.vs/JW_movie/v15
/JW_movie/Project/x64
/JW_movie/Project/Game.pdb
/JW_movie/Project/Game.ipdb
/JW_movie/Project/Game.iobj
/JW_movie/.vs/JW_movie
/Kendo_movie/.vs/JW_movie
/Kendo_movie/Project/Save
/Kendo_movie/Project/data/base_movie.mp4
/Kendo_movie/Project/data/sound.wav
/Kendo_movie/Project/x64/Release/project.tlog
/Kendo_movie/Project/x64/Release
/Kendo_movie/Project/Game.pdb
